{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">

    <br><br>
    <h3 class="display-8">Smart Grid Application ( Energy Sector - Simulator)</h3>
    
    <p>
        this application provides an integrated simulation of distributed electrical energy generation
        with response to demand in a SmartGrid system through quota allocation with a replicator dynamics
        optimization algorithm..

        <p>DOI: <a href="https://doi.org/10.1109/PEPQA59611.2023.10325776">10.1109/PEPQA59611.2023.10325776</a></p>
        DOIschain: xxxxxxxxxxxxxxxx Reproducibility Percentage: 20%


    </p>
    <img src="/static/images/PEPQA.png" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="https://www.youtube.com/watch?v=tnZ4zONaqIk">SmartGrid App</a>

    <br><br>
    <h3 class="display-8"> ANJE Application ( Legal sector - NLP)</h3>
    
    <p>
        This is an NLP-based assistant that facilitates lawyers search for similar historical cases,
        with a chatbot that can answer simple questions. It reuses pre-trained Large Language Models (LLM) (see
        HuggingFace) and BERT (PoC version of App) with the possibility of extending pre-trained generative
        transformers (GPT) to be applied in the Legal domain.

        <p>DOI: <a href="https://doi.org/10.1145/3578741.3578793">10.1145/3578741.3578793</a></p>

        DOIschain: xxxxxxxxxxxxxxxx Reproducibility Percentage: 40%
    </p>
    <img src="/static/images/ANJE.PNG" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="https://www.youtube.com/watch?v=JrEu_X4Pgtc">ANJE App</a>


    <br><br>
    <h3 class="display-8">BraTS Tumor Segmentation Application (Medical Sector - computer vision)</h3>
    
    <p>
        This diagnostic-support app seeks to integrate into a hospital business logic of clinical cases.
        In this case, a brain tumor segmentation model developed for the BraTS competition.

        DOI: Pending
        DOIschain: xxxxxxxxxxxxxxxx Reproducibility Percentage: 50%

    </p>
    <img src="/static/images/BraTSAPP_1.png" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="https://ipolcore.ipol.im/demo/clientApp/demo.html?id=77777000461">BraTS App</a>

    <br><br>
    <h3 class="display-8">PethAPP Mouse Repiration Application (Medical sector - signal treatment)</h3>
    
    <p>
         It is an application to support biologists analyze breathing measurements in mice. It allows
            the detection of abnormal patterns in inspiration and expiration using an algorithm developed at the Borelli
            Center..
            <p>DOI: <a href="https://doi.org/10.3389/fphys.2023.1154328">10.3389/fphys.2023.1154328</a></p>

            DOIschain: xxxxxxxxxxxxxxxx Reproducibility Percentage: 70%
    </p>
    <img src="/static/images/pethapp2.png" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="/app/gender/">Peth App</a>

    <br><br>

    <br><br>
    <h3 class="display-8">Scientific Replicable Online Apps Under development</h3>

    <br><br>
    <h3 class="display-8">LoanAPP (third party authorship)(Banking Sector - Machine Learning)</h3>
    
    <p>
        : this application supports the decision to grant loans. It integrates FastAPI microservice
         business logic with the credit score and default risk models..
    </p>
    <img src="/static/images/LoanAPP.PNG" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="https://www.youtube.com/watch?v=YcCypo45anc">Loan App</a>

    <br><br>
    <br><br>
    <h3 class="display-8">Face Recognition Application (third party authorship)(Retail Sector - Computer Vision)</h3>
    
    <p>
        Gender Classification: This app is driven by data and machine learning model.
            As soon as user upload the image, in background it convert into grayscale, crop face, convert into eigen image and 
            finally it model to predict. All this functionality dumped in the flask app.
    </p>
    <img src="/static/images/002.PNG" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="/app/gender/">Gender App</a>

    <br><br>

    <h3 class="display-8"> Cloud annotation application (third party authorship)(Aerospatial Sector - Computer Vision)</h3>
    
    <p>
        The users can login into the platform
        The users can upload images to the app, in a permanent storage associated to the user
        Each user can interactively annotate images to tell what is a cloud and what is not, to get data to train
        .
    </p>
    <img src="/static/images/cloud_annotation.PNG" class="image-fluid" width="600" alt="">

    <a class="btn btn-outline-primary" href="https://marvelapp.com/prototype/2708g6cg/screen/74997540">Gender App</a>

    <br><br>

    <h3 class="display-8">Autobrillant Application (startup)</h3>
    
    <p>
        startup that fights against water waste through dry car washing and price optimization 
        according to maps and API of water availability in the area.

        <p>API: <a href="https://hubeau.eaufrance.fr/page/api-qualite-eau-potable#console">External API consumed</a></p>
    </p>
    <img src="/static/images/autobrillant.PNG" class="image-fluid" width="400" alt="">

    <a class="btn btn-outline-primary" href="https://autobrillant.fr/">Autobrillant App</a>

</div>

{% endblock %}