{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6"> Welcome to OVDSaaS End to end Online Reproducible Apps Project</h3>
        <br>
            <p>
                VALUING REPRODUCIBLE RESEARCH AT THE SERVICE OF THE INDUSTRY Creating synergies between scientists and industry, 
                Solving cutting edge problems matching computational scientific research approach, editorial approach, available reproducibility technology approach and business approach
                
            </p>
            <img src="/static/images/content/ovdsaas.svg" class="image-fluid" height="300" alt="">
            <p>
                

                This Documentation explains you the end to end flow Reproducible Scientific Apps Creation. 
                And the process can split into two parts..

                
                In 1st module we majorly deals with Survey of business requirements of the target industry,  develop MLops model. 
                Whereas in second module 
                we focus our journey towards develop custom Online web app (API) and integrate our machine learning model reproducible results.
            </p>
            <img src="/static/images/team.svg" class="image-fluid" width="400" alt="">
            <br><br>
            Understand the problem, the business logic, the roles involved and segment it into microservices in BPML processes workflows
            <br><br>
        </p>
        <img src="/static/images/content/BPML.svg" class="image-fluid" height="300" alt="">
        <p>


        <br>
        <h4>1. Creating synergies between scientists and industry</h4>
        <p>relate the actors of the tailored application contains 4 steps. Those are
        </p> 
        <ol>
            <li>Survey of business requirements of the target industry (business industril representative)</li>
            <li>Development of scientific research around the identified problems (scientist, authors)</li>
            <li>publication of results and reproducible artifacts with persistent identifiers, perennial DOIschain (publisher)</li>
            <li>development of a custom reproducible App (OVDSaaS)</li>
        
        </ol>
        <p>Below given is the training flow diagram and steps involved</p>
        <img class="image-fluid" height="300" src="/static/images/content/modules.svg" alt="">

        <h4>2. Training App Model</h4>
        <p>Training ML model contains 4 steps. Those are
        </p> 
        <ol>
            <li>Data Gathering</li>
            <li>Data Preprocessing</li>
            <li>Feature Engineering</li>
            <li>Machine Learning Model</li>
            <li>Create ML Pipeline</li>
        </ol>
        <p>Below given is the training flow diagram and steps involved</p>
        <img class="image-fluid" height="300" src="/static/images/content/training_flow.svg" alt="">

        <h4>3. Online Application</h4>
        <p>After completion of Machine Learning module we will develop Flask based web application.
        </p> 
        <ol>
            <li>Develop Web App with
                <ul>
                    <li>Flask, FastAPI - Web Server Gateway Interphase (Backend)</li>
                    <li>HTML - Layout (Frontend)</li>
                    <li>Bootstrap - Styling (Frontend)</li>
                </ul>
            </li>
            <li>Intergrate Machine Learning model</li>
            <li>Deploy Web App in Cloud</li>
        </ol>

        <h4>4. Deployment</h4>
        <p>We push our code in Github and connect our in Cloud Platform
        </p> 
        <img src="/static/images/content/deployment.png" height="300" class="image-fluid" alt="">

        <br><br>
        <h4>5. Complete OVDSaaS infrastructure</h4>
        <p>The application becomes part of the OVDSaaS reproducibility-oriented ecosystem
        </p> 
        <img src="/static/images/content/ovdsaasblocks.png" height="500" class="image-fluid" alt="">
        <br><br>
        <br><br>
</div>


{% endblock %}